<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="StdRegConnectionString" connectionString="Data Source=PALLAVI-PC;Initial Catalog=StdReg;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
